body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f4ef;
}

.home {
    display: flex;
    height: 100vh;
}

.panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border-right: 1px solid #ccc;
    transition: 0.3s;
}

.panel:hover {
    background: #ddd;
}

h1 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    letter-spacing: 5px;
}
.scroll-row {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
}

.card {
    min-width: 250px;
    background: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
}
