body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f4ef;
}

.home {
    display: flex;
    height: 100vh;
}

.panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border-right: 1px solid #ccc;
    transition: 0.3s;
}

.panel:hover {
    background: #ddd;
}

h1 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    letter-spacing: 5px;
}
